@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <h1></h1>
            <img src="~/Scripts/Images/Capture.PNG" width="200" height="100" />
        </div>
        <div class="col-sm-8">
            <h1>SPACE BUS</h1>
            <p class="lead">EXPLORING THE GALAXIES.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inspiration</h2>
        Inspired by Elon Musk, people can book their travel to different galaxies.
    </div>
    <div class="col-md-4">
        <h2>Explore the galaxies.</h2>
        <p>The application helps people to get to book their galaxy trip easily with our advanced space buses.</p>
    </div>
    <div class="col-md-4">
        <h2>Type is Buses.</h2>
        <p>neutron star, dark energy emitter, worm hole wrapper.</p>
    </div>
</div>