################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusBooking/.vs/BusBooking/v15/Server/sqlite3
/BusBooking/BusBooking.Tests/obj/Debug
/BusBooking/BusBooking
/BusBooking/.vs
/.vs
